html {
    font-size: 62.5%;
}

body {
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
}

.header {
    display: flex;
    padding: 45px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    padding-left: 5px;
    font-weight: 800;
    font-size: 2rem;
}

.menu {
    display: flex;
}

.menu li a {
    padding: 10px 5px;
    transition: 0.3s ease-in-out;
    margin-left: 1.5rem;
    font-size: 1.5rem;
}

.menu li a:hover {
    background-color: #5bc241;
    color: #fff;
}

.menu li a.btn {
    background-color: #5bc241;
    border-radius: 10px;
    color: #fff;
    margin-left: 3rem;
    padding: 1rem 2rem;
}